.container {
    box-sizing: border-box;
    width: 500px;
    height: 750px;
    margin: 50px auto;
    background-color: rgb(0, 0, 120);
    padding-top: 25px;
    border-radius: 5px;
}

.calculator-display {
    margin: 0 25px;
    box-sizing: border-box;
    background-color: grey;
    color: white;
    height: 150px;
    font-size: 60px;
    text-align: right;
    padding: 35px 10px;
    border-radius: 30px;
}

.btn-container {
    box-sizing: border-box;
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
}

button {
    box-sizing: border-box;
    margin: 10px 10px;
    height: 100px;
    aspect-ratio: 1;
    font-size: 40px;
    border-radius: 15px;
    border: 0px black;
}